#root {
    --red-shadow: #ff001baa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    height: 16em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 1em var(--red-shadow));
}
.logo:hover {
    filter: drop-shadow(0 0 1em var(--red-shadow));
}

/* Home page */
.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100vw;
}

/* room page */

.room-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
}

.room-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    margin-bottom: 100;
}

.room-form {
    /* background-color: #ffffff; */
    border: 2px solid red;
    color: white;
    background: #0f0f0f;
    box-shadow:
        0 0 20px var(--red-shadow),
        0 0 8px var(--red-shadow);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px;
    border-radius: 4px;
    width: 320px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form > label {
    margin-bottom: 0.5em;
}

form > input {
    padding: 1em;
    width: 90%;
    margin-bottom: 1em;
    color: white;
    caret: red;
    /* padding-left: 0; */
    background-color: transparent;
    border: 1px solid #ffffffaa;
    border-radius: 4px;
    /* border-bottom: 1px solid #ffffff; */
}
form > button {
    margin-top: 16px;
    width: 100%;
    padding: 1em 0 1em 0;
    margin-bottom: 32px;
    background-color: transparent;
    border: none;
    /* color: #ff001b; */
    border: 1px solid #ffffffaa;
}

/* Game page */

.room-grid {
    display: grid;
}
