:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;

    color: inherit;
    font-size: 1.2em;
}
a:hover {
    color: var(--red-shadow);
    text-shadow: rebeccapurple 0 0 10px;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* overflow: hidden; */
}

h1 {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    will-change: filter;
    transition: filter 300ms;
}
button:hover {
    border-color: #646cff;
    filter: drop-shadow(0px 0px 12px var(--red-shadow)));
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.game-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    margin: 0;
}
