:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);

    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=121212&c2=050101&gt=r&gd=dtl
    */
    background: #121212;
    /* background: radial-gradient(at left top, #121212, #050101); */

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-shadow: rebeccapurple 0 0 10px;
}

.a_button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    will-change: filter;
    transition: filter 300ms;
}

.a_button:hover {
    border-color: #646cff;
    filter: drop-shadow(0px 0px 12px var(--red-shadow)));
}
.a_button:focus,
.a_button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* overflow: hidden; */
}

h1 {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid #ffffffaa;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    will-change: filter;
    transition: filter 300ms;
}

button:hover {
    /* border-color: var(--red-shadow);
    color: var(--red-shadow);
    filter: drop-shadow(0px 0px 12px var(--red-shadow))); */
    /* box-shadow:
        0 0 10px lightblue,
        0 0 8px lightblue; */
    border: 1px solid white;
    /* color: lightblue; */
    /* color: red; */
    /* background-color: var(--red-shadow); */
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.game-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    margin: 0;
}
